In [1]:
import requests
import pandas as pd
import lxml.html as lh

In [2]:
#Get webpage and validate response
#website is updated daily with reported cases and deaths
url='https://www.michigan.gov/coronavirus/0,9753,7-406-98163-520743--,00.html'
response = requests.get(url)
response

In [3]:
#Scrape the table
doc = lh.fromstring(response.content)
tr_elements=doc.xpath('//tr')
len(tr_elements)

#There are multiple tables on this page. We only want the first table. 
#Should update this to be dynamic to find last row
lastrow=29

In [4]:
#Get headers
col=[]
i=0

for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        #print ('%d:"%s"'%(i,name.strip()))
        col.append((name.strip(),[]))

In [5]:
#Since our first row is the header, data is stored on the second row onwards

#Need to fix dynamic updating of the table length
for j in range(1,lastrow):
    #T is our j'th row
    T=tr_elements[j]
    

    
    #i is the index of our column
    i=0
    
   
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()  
        
    
       
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

#replace nbsp with a 0
df['Deaths'].replace(u'\xa0',0,inplace=True)
df.describe()

            Cases     Deaths
count   28.000000  28.000000
mean    28.071429   0.178571
std     64.940388   0.611832
min      1.000000   0.000000
25%      1.000000   0.000000
50%      2.000000   0.000000
75%      8.000000   0.000000
max    248.000000   3.000000

In [7]:
total_cases=df['Cases'].sum()
print (total_cases)

786

In [8]:
total_deaths=df['Deaths'].sum()
print (total_deaths)

5